<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Gestion des rôles</h1>
      </div>

      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>

<div class="card card-secondary">
  <div class="card-header">
    <h3 class="card-title">Ajouter un rôle</h3>
  </div>
  <!-- /.card-header -->
  <!-- form start -->

  <form class="form-horizontal" [formGroup]="form" (ngSubmit)="AddRole()">
    <div class="card-body">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Nom du rôle"
          formControlName="rolename"
        />
      </div>

      <div
        *ngIf="FormRoleName.touched && FormRoleName.invalid"
        class="alert alert-danger"
      >
        Le nom est obligatoire.
      </div>

      <div class="input-group mb-3">
        <input
          type="email"
          class="form-control"
          placeholder="Description du rôle"
          formControlName="description"
        />
      </div>
    </div>

    <!-- /.card-body -->
    <div class="card-footer">
      <button type="submit" class="btn btn-block btn-secondary">
        Créer Rôle
      </button>
    </div>
    <!-- /.card-footer -->
  </form>
</div>
