<!---->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Journalisation</h1>
        <p-confirmDialog
          header="Confirmation"
          icon="pi pi-exclamation-triangle"
        ></p-confirmDialog>
      </div>

      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>

<div class="row">
  <!----------------------------------------------------------------------------------------------------------------->
  <div class="card">
    <p-table
      #dt2
      [value]="logs"
      dataKey="id"
      [rows]="10"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      [loading]="loading"
      styleClass="p-datatable-customers"
      [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="['type', 'date']"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-right p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt2.filterGlobal($event.target.value, 'contains')"
              placeholder="Recherche globale"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Type</th>
          <th>Date</th>
          <th>Adresse IP</th>
          <th>Description</th>
          <th>Statut</th>
          <th></th>
        </tr>
        <tr>
          <th>
            <p-columnFilter type="text" field="type"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="date" field="date"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="ip"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter
              field="representative"
              matchMode="in"
              [showMenu]="false"
            >
              <ng-template
                pTemplate="filter"
                let-value
                let-filter="filterCallback"
              >
              </ng-template>
            </p-columnFilter>
          </th>
          <th>
            <p-columnFilter
              field="status"
              matchMode="equals"
              [showMenu]="false"
            >
              <ng-template
                pTemplate="filter"
                let-value
                let-filter="filterCallback"
              >
                <p-dropdown
                  [ngModel]="value"
                  [options]="statuses"
                  (onChange)="filter($event.value)"
                  placeholder="Any"
                  [showClear]="true"
                >
                  <ng-template let-option pTemplate="item">
                    <span [class]="'customer-badge status-' + option.value">{{
                      option.label
                    }}</span>
                  </ng-template>
                </p-dropdown>
              </ng-template>
            </p-columnFilter>
          </th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-entry>
        <tr>
          <td>
            {{ entry.type }}
          </td>
          <td>
            {{ entry.date | date: "medium" }}
          </td>
          <td>
            {{ entry.ip }}
          </td>
          <td>
            {{ entry.description }}
          </td>
          <td>
            {{ entry.status }}
          </td>
          <td>
            <button
              pButton
              type="button"
              class="p-button-warning p-button-raised p-button-rounded"
              (click)="confirm()"
            >
              {{ entry.user.username }}
            </button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">Le journal est vide.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
